.mobail {
    width: auto;
     }
    
    .container {
        width: 400px;
        text-align: center;
        text-decoration: none;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: #fff;
    }

    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: .4rem 0;
    }